* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Shared styles */
.black-1 {
  color: #252432;
}
.black-2 {
  color: rgba(0, 0, 0, 1);
}
.gray-1 {
  color: rgba(137, 135, 161, 1);
}
.gray-2 {
  color: rgba(0, 0, 0, 0.5);
}
.orange {
  color: rgba(233, 90, 8, 1);
}

/* nav styles */
header {
  max-width: 1140px;
  margin: 0 auto;
  /* width: 80%; */
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-list {
  display: flex;
  gap: 45px;
}
.nav-list li {
  list-style: none;
}
.nav-list li a {
  text-decoration: none;
}

/* banner styles */
.banner {
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: end;
}
.banner h1 {
  font-weight: 700;
  font-size: 4rem;
}
.banner p {
  font-size: 1.375rem;
}
.banner img {
  padding-top: 100px;
  width: 100%;
}
/* main styles */
/* plants styles */
.plants {
  max-width: 1140px;
  margin: 100px auto;
  /* text-align: center; */
}
.plant-card-container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}
.plants-title {
  max-width: 888px;
  margin: 0 auto;
  text-align: center;
}
.plants-title h2 {
  font-weight: 700;
  font-size: 3.125rem;
  margin-bottom: 20px;
}
.plants-title p {
  font-size: 1.375rem;
}
.plants-card {
  text-align: center;
}
.plants-card img {
  width: 100%;
}
.plants-card h4 {
  color: rgba(17, 17, 17, 1);
  font-weight: 500;
  font-size: 1.375rem;
  margin-top: 30px;
  margin-bottom: 16px;
}
.plants-card p {
  color: rgb(17, 17, 17);
  font-weight: 800;
  font-size: 1.375rem;
  margin-top: 20px;
}
.btn {
  background-color: rgb(233, 90, 8);
  color: white;
  font-weight: 600;
  padding: 19px 80px;
  border: none;
  margin-top: 30px;
  width: 100%;
}
/* plants lover section */
.plants-lover {
  max-width: 1140px;
  margin: 100px auto;
  margin-top: 210px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}
.plants-lover-left {
  width: 50%;
  position: relative;
}
.trusted-logo {
  position: absolute;
  width: 280px !important;
  height: auto !important;
  right: -90px;
  top: -120px;
}
.plants-lover-right {
  width: 50%;
}
.plants-lover-list {
  padding-left: 40px;
}
.plants-lover-left img {
  width: 100%;
}
.plants-lover-right h2 {
  font-weight: 700;
  font-size: 3.125rem;
  margin-bottom: 20px;
}
.plants-lover-right .plants-lover-list li {
  font-size: 1.375rem;
  margin-bottom: 20px;
}
/* deals style */
.latest-deals {
  max-width: 1140px;
  margin: 0 auto;
}
.latest-deals-title {
  max-width: 888px;
  margin: 0 auto;
  text-align: center;
}
.latest-deals-title h2 {
  font-weight: 700;
  font-size: 3.125rem;
  margin-bottom: 16px;
}
.latest-deals-title p {
  font-size: 1.375rem;
  margin-bottom: 120px;
}
.latest-deals-row {
  height: 400px;
  display: flex;
  gap: 20px;
}
.vertical {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.bloom {
  background-image: url(../assets/deal-bloom.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 47%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  border-radius: 14px;
}
.offer {
  color: white;
  font-weight: 700;
  font-size: 1.25rem;
}
.offer-link {
  font-weight: 600;
  color: white;
}
.zabo h3 {
  color: white;
  font-weight: 700;
  font-size: 3.375rem;
}
.zabo a {
  color: white;
  font-weight: 600;
  font-size: 1.75rem;
}

.ana {
  background-image: url(../assets/deal-ana.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 47%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  border-radius: 14px;
}
.zabo {
  width: 65%;
  background-image: url(../assets/deal-zabo.png);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  border-radius: 22px;
  color: liner;
}

/* join section styles */
.join {
  margin-top: 100px;
  background-image: url(../assets/news-letter-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 533px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.join h2 {
  color: white;
  font-weight: 700;
  font-size: 3.125rem;
  margin-bottom: 20px;
}
.join-input {
  display: flex;
  justify-content: center;
  align-items: center;
}
.join-input input {
  padding: 15px 202px;
  max-width: 640px;
  border: none;
}
.btn-2 {
  background-color: rgba(233, 90, 8, 1);
  color: white;
  font-weight: 600;
  padding: 15px 25px;
  border: none;
}
/* footer styles */
footer {
  max-width: 1140px;
  margin: 100px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.footer-middle ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}
.footer-middle ul li {
  list-style: none;
}
footer li a {
  text-decoration: none;
  color: rgb(107, 114, 128);
}
.footer-right {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

/* media query for small device */
@media screen and (max-width: 576px) {
  .hide {
    display: none;
  }
  nav {
    justify-content: space-around;
    align-items: center;
  }

  .banner {
    flex-direction: column-reverse;
    margin-right: 20px;
  }
  .banner-left {
    margin: 0 16px;
  }

  .plant-card-container {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 15px;
  }
  .btn {
    padding: 20px 40px;
  }
  .plants-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
  }
  .plants-lover {
    flex-direction: column;
    margin: 0 15px;
  }
  .plants-lover-left {
    width: 100%;
  }
  .plants-lover-right {
    width: 100%;
  }
  .latest-deals-title {
    margin: 100px 15px;
  }
  .latest-deals-row {
    flex-direction: column;
    margin: 100px 15px;
  }
  .vertical {
    width: 100%;
    height: 100%;
  }
  .zabo {
    width: 100%;
    height: 50%;
  }
  .zabo h3 {
    color: white;
    font-weight: 700;
    font-size: 1.25rem;
  }
  .zabo a {
    color: white;
    font-weight: 600;
    font-size: 1.18rem;
  }

  .join-input input {
    padding: 15px 50px;
  }
  .join h2 {
    font-size: 1.5rem;
  }
  footer {
    grid-template-columns: 1fr;
    gap: 20px;
    margin-left: 15px;
  }
  .footer-middle ul {
    grid-template-columns: 1fr;
  }
}
